// Hide the sidebar
//.sidebar
  display: none

// Reconfigure the main grid container to have one column
// that is 80% of the total width, and center that column.
//.grid-inverse
  grid-template-columns: 70%
  justify-content: center