body {
  font-size: 18px;
  line-height: 1.7;
}

/* Increase content width */
.main {
    --main-width: 950px !important;
}

/* Ensure post content uses full width */
.post-content {
    max-width: 100% !important;
}

/* Avoid wrapping the first column */
table td:first-child code {
  white-space: nowrap;
}

/* Wrap code blocks */
pre code {
  white-space: pre-wrap;
  word-break: break-word;
}

/* Center the image captions */
/* figure {
  width: fit-content;
  margin: 0 auto;
}

figure figcaption {
    text-align: center;
} */